body {
  background-color: rgb(230, 222, 212);
}

#outer-container {
  display: flex;
  justify-content: center;
  padding: 100px 30%;
  flex-direction: column;
  text-align: center;
}

.todo-add-title {
  font-size: large;
  color: rgb(11, 146, 146);
}

#add {
  color: rgb(11, 146, 146);
}

#todos {
  width: 50%;
  margin: 20px 0;
  padding: 0;
  align-self: center;
}

#todos li {
  text-align: left;
}
